*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(90deg,black,red);

}
.calculator{
    border: 1px solid white;
    padding: 20px; 
    border-radius: 16px;
    background: transparent;
    box-shadow: 5px 5px 5px white; 
}
input{
  width: 400px;
  border: none;
  padding: 20px;
  background: transparent;
  box-shadow: 5px 5px 5px white;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
}
input::placeholder{
    color: black;
}    
button{
    width: 80px;
    border: none;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}
.equal{
    color:black;
    background-color:white;
    box-shadow: 5px 5px 5px ;
}
.oper{
    color: black;
}